@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* 
      Theme: Default
      primary: #0076B6
      white: "rgba(229, 241, 247)",
      black: "#010B13",
      grey: "#BEBFC5",
    */
    --color-primary: 0, 118, 182;
    --color-white: 229, 241, 247;
    --color-grey: 190, 191, 197;
    --color-black: 1, 11, 19;
    --color-border: 212, 248, 229;
  }

  :root[class~="dark"] {
    /*
      Theme: Dark
      primary: #AAAABE 
      white: #121113,
      black: #D9E4E9,
      grey: "#BEBFC5",
    */
    --color-primary: 170, 170, 190;
    --color-white: 18, 17, 19;
    --color-grey: 132, 132, 130;
    --color-black: 229, 241, 247;
  }

  :root[class~="space"] {
    /*
      Theme: Space
      primary: F58549
      white: #D90368
      black: #04A777
    */
    --color-primary: 245, 133, 73;
    --color-white: 0, 0, 15;
    --color-grey: 132, 132, 130;
    --color-black: 238, 193, 112;
  }

  :root[class~="reading"] {
    /*
      Theme: Space
      primary: #65532F
      white: #E2D4BA
      black: #312509
    */
    --color-primary: 101, 83, 45;
    --color-white: 226, 212, 186;
    --color-grey: 132, 132, 130;
    --color-black: 49, 37, 9;
  }
}

* { transition: background 150ms ease-in-out, text 50ms ease-in-out, transform 300ms ease-in-out; }

html {
  overflow-x: hidden;
  transition: all 300ms ease-in-out;
}

body {
  scroll-behavior: smooth;
}

:target { scroll-margin-top: 120px; }

.theme-active {
  transform: scale(1.2);
}

.rotate-page .body {
  transform: translate(100px, 100px);
}

.spin-page .body {
  transform: translate(200px, 200px);
}